
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
  --book-title-font: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--book-title-font);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 150px;
  background-color: rgb(124, 126, 129);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: rgb(241, 231, 231);
}

/* Modal styling */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.85;
}



dialog {
  border: 2px solid rgb(121, 135, 227);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

form {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

input {
  background-color: black;
  border: none;
  border-bottom: 1px solid rgb(121, 135, 227);
  outline: none;
  color: white;
  padding: 0;
}

select {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none; 
  -webkit-appearance: none;
  padding-bottom: 2px;
}


#genre {
  background-color: black;
  border: none;
  border-bottom: 1px solid rgb(121, 135, 227);
  outline: none;
  cursor: pointer;
  color: white;
}

label[for="isRead"] {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(121, 135, 227);
  background-color: rgb(18, 17, 17);
  position: relative;
  border-radius: 3px;
}

.checkmark::before {
  content: '\2713'; 
  color: white; 
  font-size: 14px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked + .custom-checkbox .checkmark::before {
  display: block;
}

label {
  margin-bottom: -5px;
  color: rgba(255, 255, 255, 0.664);
}

#cancel {
  position: relative;
  bottom: 18px;
  right: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(121, 135, 227, 0.702);
  background-color: black;
  color: rgba(254, 254, 254, 0.72);
  padding-bottom: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  cursor: pointer;
}

#cancel::before {
  content: "x";
}

#cancel:hover {
  background-color: rgb(53, 18, 86);
}

#submit-btn {
  margin-top: 15px;
  border: 1px solid rgb(121, 135, 227);
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#submit-btn:hover {
  background-color: rgb(53, 18, 86);
}

.header > button {
  width: 100px;
  height: 50px;
  font-size: 1rem;
}

.header > button:active {
  background-color: rgb(140, 136, 136);
  outline: none;
}

.library-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: 610px;
  gap: 50px;
  margin: 50px;
  flex: 1;
}

.book-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.book-sample {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.book-sample:hover {
  opacity: 0;
}

.inner-container  {
  position: absolute;
  width: 100%;
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: aquamarine;
  font-size: 20px;
  z-index: 1;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.small-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inner-container p {
  color: black;
  padding: 0;
  margin: 0;
}

.book-sample h1 {
  margin: 0;
  background-color: rgba(34, 94, 223, 0.3);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.8),
              0 -5px 5px -5px rgba(0, 0, 0, 0.8);
  font-size: 2.2rem;
  color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  width: 100%;
  height: 80px;
}

.book-sample .book-cover {
  background-color: rgb(109, 100, 100);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.65);
  border-left: 8px solid rgb(25, 6, 53);
}

.btn-container {
  display: flex;
  gap: 30px;
}

.del-btn::before {
  content: "Remove Book";
}

.del-btn,
.read-btn {
  width: 50%;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  color: white;
}

.del-btn {
  background-color: black;
}

.del-btn:hover,
.read-btn:hover {
  background-color: rgb(11, 76, 76);
}

.footer {
  height: 50px;
  background-color: rgb(203, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}